<p>
  <!-- #docregion toolbar-simple -->
    <mat-toolbar color="primary" class="mat-elevation-z8">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Panda's Dream Shop</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  <!-- #enddocregion toolbar-simple -->
</p>


<mat-card>
  All the fantacy goods from dreamland
</mat-card>

